// Placeholder to allow overriding predefined variables smoothly.

// Use this color for non standard links, i.e. ToC, RSS, etc
$light-shade:   #e15151;

// Main color used from previous blog, use this as primary color for styling
$my-color:  #dd3333;

$site-title-color:  $my-color;

$link-base-color:   $my-color;
$link-visited-color:    $link-base-color;

$link-hover-color:  adjust-hue($my-color, 20);