// Placeholder to allow overriding predefined variables smoothly.

//$dark-my-color: #ad2323;
$feed-color:    #ff6666;
$light-shade:   #e15151;
//$border-color-03: #713737;

//$hover-my-color: #f16334;
//$brand-color:   $my-color;
//$brand-color:   $my-old-color;
//$brand-color-light: lighten($brand-color, 5%);
//$brand-color-dark:  darken($brand-color, 35%);

//$my-color: #c42121; // Don't like this one tbh :/

$my-color:  #dd3333;

//$site-title-color:      $brand-color-light;

//$link-base-color:   adjust-hue($brand-color, 20);
//$link-visited-color:    $link-base-color;
//$link-hover-color:  adjust-hue($brand-color, 30);

$site-title-color:  $my-color;

//$link-base-color:   adjust-hue($my-color, 8);
$link-base-color:   $my-color;
$link-visited-color:    $link-base-color;

$link-hover-color:  adjust-hue($my-color, 20);